.userTableList {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.userTableList:hover {
  background-color: rgba(170, 170, 170, 0.3);
}

.elem {
  width: 25%;
  overflow-wrap: break-word;
  padding: 5px;
  border: 1px solid black;
}
.elem:first-child {
  width: 30px;
}
a {
  color: black;
}
